@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --spacing-sidebar: 400px;
    --height-header: 64px;
}

@font-face {
    font-family: "iransans";
    src: url(./assets/font/iransans.ttf);
}

*{
    direction: rtl;
    font-family: iransans;
}

a,button{
    cursor: pointer;
    &:active{
        transform: translateY(2px);
    }
}

.Toastify__toast{
    font-family: iransans;
}